[github]
api-token = ghp_TODO

[github:repo]
api-token = ghp_TODO

[github:pull]
api-token = ghp_TODO

[github:issue]
api-token = ghp_TODO

[github2:pull]
api-token = ghp_TODO

[github2:issue]
api-token = ghp_TODO

[githubql]
api-token = ghp_TODO
